.phui_combobox {
    background-color: #cccccc;
	border: 1px solid #aaaaaa;
	width: 320px;
	height: 32px;
}

.phui_combobox input {
	float: left;
	width: 290px;
	margin: 5px 0px 5px 5px!important;
}

.phui_combobox .toggle {
	float: left;
	margin-top: 5px;
	width: 15px;
	cursor: pointer;
}

.phui_combobox_dropdown {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: auto;
}

.phui_combobox_dropdown ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;	
}

.phui_combobox_dropdown li {
	margin: 0px;
	padding: 3px 0px;
	cursor: pointer;
	display: block;
	border-bottom: 1px solid #cccccc;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;	
}

.phui_combobox_dropdown .selected {
	background-color: #FFDE58;
}

.phui_combobox_dropdown .selected span {
	font-weight: bold !important;
	font-style: normal !important;
	color: black !important;
}

.phui_combobox_dropdown .hover {
	background-color: orange;
}

.phui_combobox_dropdown .hover span {
	color: white !important;
}

.phui_combobox_dropdown span.disabled {
	color: #bbbbbb;
}