<label>My Dropdown</label>
<%= Phui.Widget.Dropdown.view({name: 'my_dropdown', value: 'widowed', 
                               options: [{value: 'single', text: 'Single'},
                                         {value: 'married', text: 'Married'},
                                         {value: 'divorced', text: 'Divorced'},
                                         {value: 'widowed', text: 'Widowed'}]}) %>