<div class='header'>
	<table>
		<thead>
			<tr>
				<td>Loading ...</td>
			</tr>
		</thead>
	</table>
</div>

<div <%= Phui.Filler%> class='body'>
	<table>
		<tbody>
			
		</tbody>
	</table>
</div>
<div class='footer'>
	<div class='pagelisting'>
		Blah Blah Blah
	</div>
	<div class='gridpages'>
		Holler
	</div>
	<form class='pageinput' action="">
		Go to Page <input type='text' size="2" class='pagenumber'/>
	</form>
</div>
