<div class='header'>
	<table>
		<thead>
			<tr>
				<td>Loading ...</td>
			</tr>
		</thead>
	</table>
</div>

<div <%= Phui.Filler%> class='body'>
	<table>
		<tbody>
			
		</tbody>
	</table>
</div>
<table class='footer'>
	<tr>
		<td class='pagelisting'></td>
		<td class='gridpages'></td>
		<td class='pageinput'>
			<form  action="">
					Go to Page <input type='text' size="2" class='pagenumber'/>
			</form>
		</td>
	</tr>
</table>

