<%for(var i =0; i < items.length; i++){%>
	<%var item= items[i]%>
	<tr <%= item%> class='<%= i==0 ? "first-row" : ""%>'>
		<%$.each(options.columns, function(name, title){%>
			<td><%= options.render && options.render[name] ?  options.render[name](item) : item[name] %></td>
		<%})%>
	</tr>
<%}%>
