<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>Grid2</title>
	<style type='text/css'>
        body {font-family: verdana}
        .error {border: solid 1px red;}
        .error_text { color: red; font-size: 10px;}
        td {padding: 3px;}

		body {
			padding: 0px;
			margin: 0px;
		}
		#wrapper {
			width: 600px;
			height: 600px;
			padding: 10px;
			border: solid 1px red;
			overflow: auto;
		}
		.disabled {
			color: gray;
			text-decoration: none;
		}
    </style>
	<link type="text/css" href="grid.css" rel="stylesheet" />
</head>
<body>
	<div id='wrapper'>
		<div id='grid'></div>
	<div>
	<a href='javascript://' id='prev'>previous</a>
	<a href='javascript://' id='next'>next</a>
	
	
	<script type='text/ejs' id='rowEjs'>
		<td><%= name %></td>
		<td><%= birthday %></td>
	</script>
	<script type='text/javascript' 
            src='../../../steal/steal.js'>   
    </script>
	<script type='text/javascript'>
		steal.plugins('jquery/dom/fixture', 'mxui/data/grid').then(function(){
		
		//want this as simple as possible
		//provide it titles and 
		// table contents
			var params = new Mxui.Data({limit : 30})
			
			$.Model('Thing',{
				attributes : {birthday: "date"}
			},{})
			$.fixture.make('thing', 1000, function(i){
				return {
					id: i,
					name : "thing "+i,
					birthday : Math.round(new Date()*Math.random())
				}
			})
			
			
			
			$("#grid").mxui_data_grid({
				model : Thing,
				params : params,
				columns: {
					name: "Name",
					birthday: "Birthday"
				},
				row : "rowEjs"
			})
				
			
			$('#next').click(function(){
				params.next();
			});
			
			$('#prev').click(function(){
				params.prev();
			})
			
			params.bind("updated.attr", function(){
				if(!this.canMoveNext()){
					$('#next').addClass('disabled')
				}else{
					$('#next').removeClass('disabled')
				}
				if(!this.canMovePrev()){
					$('#prev').addClass('disabled')
				}else{
					$('#prev').removeClass('disabled')
				}
			})
		}).start();
	</script>
</body>
</html>