<div class='ui-dialog ui-widget ui-widget-content ui-corner-all  ui-resizable'>
	
<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
    <span class="ui-dialog-title" id="ui-dialog-title-dialog"><%= title %></span>
	<a href="#" class="ui-dialog-titlebar-close ui-corner-all">
	    <span class="close ui-icon ui-icon-closethick">close</span>
    </a>
</div>
<div class="ui-dialog-content ui-widget-content modal-message">
    <p><%= message %></p>
</div>
<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
	<%for(var buttonName in this.buttons){%>
		<%var button = this.buttons[buttonName]%>
		<button type="button" class="<%=buttonName%>-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
			<span class="ui-button-text"><%= typeof button == "string" ?  button : button.title || buttonName%></span>
		</button>
	<%}%>
</div>


</div>

