<span style="float:left;display: block;height:13px;" 
      class="ui-icon <% if (item.type == "folder") {%>ui-icon-folder-open<% } else { %>ui-icon-document<% } %>">
</span>
<span style="<%= style %><% if (!item.enabled) { %>color:#cccccc;<% } %>">
	<%= item.text %>
</span>
