<table class="ui-widget">
	
	<theader>
		<tr class="ui-widget-header">
			
	<%  for(var f=0;f<fields.length;f++){ 
	       var field = fields[f]; %>			
		   <th><%= field.text %></th>
     <% } %>
	 
		</tr>
	</theader>
		
	<tbody>
	<%  for(var r=0;r<rows.length;r++){ 
	       var row = rows[r]; %>
		   
		   <tr>
	   <%  for(var f=0;f<fields.length;f++){ 
	           var field = fields[f]; %>			   	
		
		   	   <td><%= row[field.name] %></td>
		
        <% } %>			   
		   </tr>
		   
     <% } %>		   
	</tbody>

</table>	
			
