body {font-family: verdana; margin:0;}
td {padding: 3px;}
.files, .folders{
	float:left;
	li{
		list-style:none;
	}
}
ul.folders {
	margin-top:25px;
	overflow:auto;
}
.folders{
	min-width:200px;
    overflow-y: scroll;
	ul{
		padding:0 5px 0 5px;
	}
	.selected>span{
		background-color:#aaaaaa;
	}
	li.item {
		background: url(folder.jpg) no-repeat 0 5px;
		padding-left:20px;
		padding-top:5px;
		cursor:pointer;
	}
}
#wrapper .files{
	.activated{
		background-color:#aaaaaa;
	}
	border-left:1px solid black;
	tr.spacing{
		display:none;
	}
}

body .grid {
	overflow: auto;
}
.mxui_filler {
	overflow: hidden;
}

.grid th {
	text-align: left;
		overflow: hidden;
}
.grid th a {
	display: block;
}
 .grid .body  {
	overflow: hidden;
	width:100%;
}
.grid table {
	width: 100%;
	width:100%;

}
.grid .innerBody, .grid .scrollBody {
	overflow: auto;
}
.header {
	overflow: hidden;
	border-bottom: solid 1px gray;
	width: 100%;
}
.grid th {
	padding: 2px;
}
.footer {
	margin:0px;padding:0px;
	border-top: solid 1px gray;
	overflow: hidden;
}

.grid .active a:hover, .grid .active a{
	border-color: gray;
	color: gray;
}
.grid .footer form {
	padding:0px 3px;
}
.footer form {
	margin:0px;padding:0px
}
.column-resizer {
	position: absolute;
	border-right: solid 2px black;
	border-left: solid 2px black;
	cursor: e-resize;
	z-index: 9999;
}
.innerBody tr:nth-child(odd), .scrollBody tr:nth-child(odd) {background: #DEF}

.toolbar {
	width:500px;
	height:75px;
	div{
		float:left;
		height:75px;
		width:75px;
		background-color:#a1daff;
		margin-right:20px;
		text-align:center;
		cursor: pointer;
	}
}
