<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<title>splitter</title>
        <style type='text/css'>
            body {font-family: verdana}
            .error {border: solid 1px red;}
            .error_text { color: red; font-size: 10px;}
            td {padding: 3px;}
			.container {
				border: solid 1px;
				width: 350px;
				height: 400px;
				margin: 10px;
				position:relative;
			}
			#container, #container2, #container_min_width{width:600px;}
			.panel {
				background-color: #ddddee;
			}
			h3
			{
				border-bottom:solid 1px #CCC;
			}
			
			.min-wide {
				min-width: 200px;
			}
			.min {
				min-width: 100px;
			}
        </style>
	</head>
	<body>
	    <h1>Splitter</h1>

		<h3>Vertical: Floating</h3>
		<p>$(&quot;#container&quot;).mxui_layout_split({ direction: &quot;vertical&quot; });</p>
		<div id='container' class="container">
	    	<div class='panel' style="float:left;width:200px;">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	    	</div>
			<div class='panel' style="float:left;width:200px;">			
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	    	</div>
			<div class='panel collapsible' style="float:left;width:200px;">			
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	    	</div>
	    </div>
		
		<a href='javascript://' id="add">Add Panel</a>
		<a href='javascript://' id="remove">Remove Last Panel</a>
		<a href='javascript://' id="resize">Resize Parent</a>
		<a href='javascript://' id="hide">Hide Last</a>
		
		
		<h3>Vertical: Absolute</h3>
		<p>$(&quot;#container2&quot;).mxui_layout_split({ direction: &quot;vertical&quot; });</p>
		<div id='container2' class="container">
	    	<div class='panel' style="width:200px;position:absolute;left:0;">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	    	</div>
			<div class='panel' style="width:200px;position:absolute;left:200px;">			
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	    	</div>
			<div class='panel collapsible' style="width:200px;position:absolute;left:400px;">			
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	    	</div>
	    </div>
		
		
		<h3>Vertical: Absolute Min Width</h3>
		<p>$(&quot;#container2&quot;).mxui_layout_split({ direction: &quot;vertical&quot; });</p>
		<div id='container_min_width' class="container">
	    	<div class='panel min' style="width:200px; position:absolute;left:0;">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	    	</div>
			<div class='panel min-wide' style="width:200px;position:absolute;left:200px;">			
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	    	</div>
			<div class='panel' style="width:200px;position:absolute;left:400px;">			
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	    	</div>
	    </div>
		
		<a href='javascript://' id="add2">Add Panel</a>
		<a href='javascript://' id="remove2">Remove Last Panel</a>
		<a href='javascript://' id="resize2">Resize Parent</a>
		<a href='javascript://' id="hide2">Hide Last</a>
		
		<h3>Horizontal</h3>
		<p>$(&quot;#container3&quot;).mxui_layout_split({ direction: &quot;horizontal&quot; });</p>
		<div id='container3' class="container">
	    	<div class='panel' style="width:100%;height:200px;">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	    	</div>
			<div class='panel collapsible' style="width:100%;height:200px;">			
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	    	</div>
	    </div>
		
		<a href='javascript://' id="add3">Add Panel</a>
		<a href='javascript://' id="remove3">Remove Last Panel</a>
		<a href='javascript://' id="resize3">Resize Parent</a>
		<a href='javascript://' id="hide3">Hide Last</a>
		
		<h3>Horizontal And Vertical</h3>
		<p>
			$(&quot;#container4&quot;).mxui_layout_split({ direction: &quot;vertical&quot; });</br>
			$(&quot;#container4inside&quot;).mj_ui_split({ direction: &quot;horizontal&quot; });
		</p>
		<div id='container4' class="container">
	    	<div class='panel' style="float:left;width:200px;">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	    	</div>
			<div class='panel' id="container4inside" style="float:left;width:200px;">
				<div class="panel2">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, 
				</div>		
				<div class="panel2">	
			consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	    	</div>	
			</div>
	    </div>
					
        <script type='text/javascript' src='../../../steal/steal.js'></script>
		<script type='text/javascript'>
			steal.plugins('mxui/layout/split').then(function(){
				
				$("#container").mxui_layout_split({ direction: "vertical" });
				$("#container2").mxui_layout_split({ direction: "vertical" });
				$("#container_min_width").mxui_layout_split({ direction: "vertical" });
				$("#container3").mxui_layout_split({ direction: "horizontal" });
				$("#container4").mxui_layout_split({ direction: "vertical" });
				$("#container4inside").mxui_layout_split({ direction: "horizontal" });
				
				$("#add").click(function(){
					$("<div class='panel' id='new' style='width:150px;float:left;'>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>")
						.appendTo($("#container")).trigger("insert");
				});
				
				$("#add2").click(function(){
					$("<div class='panel' style='width:150px;position:absolute;'>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>")
						.appendTo($("#container2")).trigger("insert");
				});
				
				$("#add3").click(function(){
					$("<div class='panel' style='width:100%;height:100px'>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>")
						.appendTo($("#container3")).trigger("insert");
				});
				
				$('#remove').click(function(){
					$("#container").find('.panel:last').trigger('remove');
				});
				
				$('#remove2').click(function(){
					$("#container2").find('.panel:last').trigger('remove');
				});
				
				$('#remove3').click(function(){
					$("#container3").find('.panel:last').trigger('remove');
				});
				
				var grow = true;
				$("#resize").click(function(){
					if(grow){
						grow = false;
						$("#container").height(600).width(500).trigger("resize");
					}else{
						grow = true;
						$("#container").height(400).width(300).trigger("resize");
					}
				});	
								
				var grow2 = true;
				$("#resize2").click(function(){
					if(grow2){
						grow2 = false;
						$("#container2").height(600).width(500).trigger("resize");
					}else{
						grow2 = true;
						$("#container2").height(400).width(300).trigger("resize");
					}
				});	
				
				var grow3 = true;
				$("#resize3").click(function(){
					if(grow3){
						grow3 = false;
						$("#container3").height(600).width(500).trigger("resize");
					}else{
						grow3 = true;
						$("#container3").height(400).width(300).trigger("resize");
					}
				});	
				
				function hidething(elm, container)
				{
					if(elm.text() == "Hide Last"){
						elm.text('Show Last');
						container.mxui_layout_split('hidePanel', container.find('.panel:last'));
						
					} else {
						elm.text('Hide Last');
						container.mxui_layout_split('showPanel', container.find('.panel:last'));
					}
				}
				
				$('#hide').click(function(ev)
				{	
					hidething($(ev.target), $('#container'));
				});
				
				$('#hide2').click(function(ev)
				{
					hidething($(ev.target), $('#container2'));
				});
				
				$('#hide3').click(function(ev)
				{
					hidething($(ev.target), $('#container3'));
				});
			
			}).start();
		</script>
	</body>
</html>